@charset "UTF-8";
/* noto-sans-kr-100 - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 100; src: local(""), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-100.woff2") format("woff2"), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-100.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* noto-sans-kr-300 - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 300; src: local(""), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-300.woff2") format("woff2"), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* noto-sans-kr-regular - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; src: local(""), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-regular.woff2") format("woff2"), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* noto-sans-kr-500 - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 500; src: local(""), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-500.woff2") format("woff2"), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* noto-sans-kr-700 - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 700; src: local(""), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-700.woff2") format("woff2"), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* noto-sans-kr-900 - latin_korean */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 900; src: local(""), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-900.woff2") format("woff2"), url("fonts/notosanskr/noto-sans-kr-v13-latin_korean-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

@font-face { font-family: 'KB FG DISPLAY'; font-style: normal; font-weight: 400; src: local(""), url("fonts/kbfg/KBFGDISPLAYM.woff") format("woff"), url("fonts/kbfg/KBFGDISPLAYM.woff2") format("woff2"), url("fonts/kbfg/KBFGDISPLAYM.ttf") format("truetype"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

.kb-font { font-family: 'KB FG DISPLAY'; }

.noto-font { font-family: 'Noto Sans KR'; }

.point-y-font { color: #fcaf17 !important; }

.point-b-font { color: #22a2d1 !important; }

.point-r-font { color: #ff0000 !important; }

/* loading */
/* 간격 */
html, body { background: #fff; }

img { border: 0; }

body, h1, h2, h3, h4, h5, h6, button, dl, dt, dd, p, ul, ol, li, legend, textarea, table, input, article, aside, footer, header, menu, nav, section, form, address { margin: 0; padding: 0; }

article, aside, footer, header, menu, nav, section, address { display: block; }

ul, ol, li { list-style: none; }

.blind, .skip { overflow: hidden; position: absolute; clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px; z-index: -1; opacity: 0; }

html { height: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body { height: 100%; background: #fff; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-family: "Noto Sans KR", Helvetica, "Apple SD Gothic Neo", Dotum, sans-serif; font-weight: 400; font-style: normal; }

body * { box-sizing: border-box; }

button { appearance: none; border-radius: 0; border-width: 0; background: 0 0; outline: 0; font-family: "Noto Sans KR", Helvetica, "Apple SD Gothic Neo", Dotum, sans-serif; font-weight: 400; font-style: normal; white-space: nowrap; }

button:focus { outline: 0; }

.page-certificate-copy { width: 1280px; margin: 0 auto; padding: 50px 60px; }

.page-certificate-copy h1 { width: 80px; height: 80px; margin: 0 auto; line-height: 0; }

.page-certificate-copy .main-title { margin-top: 50px; font-family: "KB FG DISPLAY"; font-size: 36px; font-weight: bold; line-height: 1.33; text-align: center; color: #000; }

.page-certificate-copy .sub-title { margin: 20px 0; font-size: 20px; line-height: 1.3; text-align: center; color: #666; }

.content-sec { padding: 60px 0; }

.content-sec + .content-sec { border-top: 1px solid #e6e6e8; }

.content-sec__title { margin-bottom: 30px; font-family: "KB FG DISPLAY"; font-size: 24px; font-weight: bold; line-height: 1.5; text-align: left; color: #000; }

.content-text { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; }

.content-text p { font-size: 16px; line-height: 1.38; text-align: left; color: #000; margin-right: 30px; }

.content-text p span { color: #666; }

.content-text button { height: 40px; padding: 8px 20px; background-color: #000000; font-size: 16px; text-align: center; color: #ffffff; }

.content-step { overflow: hidden; }

.content-step ul { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: -40px -15px 0; }

.content-step li { width: 50%; padding: 0 15px; margin-top: 40px; }

.content-step p { margin-bottom: 15px; }

.content-step p em { font-size: 16px; font-weight: bold; font-style: normal; line-height: 1.25; text-align: left; color: #000; margin-right: 15px; }

.content-step p span { font-size: 16px; line-height: 1.25; text-align: left; color: #666; }

.content-step div { display: -ms-flexbox; display: flex; width: 100%; -ms-flex-pack: center; justify-content: center; -ms-flex-align: center; align-items: center; height: 340px; border: 1px solid #d3d4d6; }

.footer-sec { padding: 15px 0; border-top: 1px solid #e6e6e8; font-size: 14px; line-height: 1.86; text-align: center; color: #999; }

/*# sourceMappingURL=maps/web.css.map */
